.header{
    width: 100%;
    background: transparent linear-gradient(180deg, #000000 0%, #000000C6 40%, #0000002C 82%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    max-width: 1400px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    height: 168px;
    background-color: #292929;
    z-index: 2;
}

@media screen and (max-width: 1305px){
    .header{
        max-width: 1305px;
    }
}

@media screen and (max-width: 860px){
    .header{
        max-width: 860px;
    }
}
