.header__dropdown{
    display: none;
}

.header__dropdown_active{
    display: block;
    background-color: white;
    position: absolute;
    z-index: 8;
    top: -70px;
    display: flex;
    flex-direction: column;
    right: 190px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    animation: ani 2.5s forwards;
}

.header__dropdown_link{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1026px){
    .header__dropdown_active{
        top: calc(10% - 150px);
        right: 160px;
    }
}

@media screen and (max-width: 976px){
    .header__dropdown_active{
        top: calc(10% - 100px);
    }
}

@media screen and (max-width: 701px){
    .header__dropdown_active{
        top: calc(10% - 85px);
        font-size: 16px;
        margin: 0;
        right: 140px;
    }
}

@media screen and (max-width: 701px){
    .header__dropdown_active{
        top: calc(10% - 70px);
        right: 100px;
    }
}

@media screen and (max-width: 450px){
    .header__dropdown_active{
        top: calc(10% - 110px);
        right: 80px;
    }
}

@media screen and (max-width: 355px){
    .header__dropdown_active{
        top: calc(10% - 150px);
        right: 150px;
        padding: 0;
    }
}

@keyframes ani {
    0% {opacity: 0; transform: translateY(-10px);}
    100% {opacity: 1; transform: translateY(0px);}
  }