.header__title{
    font-family: 'Source Sans Pro', sans-serif;
    color: #C445F4;
    font-size: 64px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 180px;
}

@media screen and (max-width: 1025px){
    .header__title {
        font-size: 54px;
        top: 20px;
        left: 105px;
    }
  }

  @media screen and (max-width: 870px){
    .header__title {
        font-size: 34px;
        top: 15px;
        left: 75px;
    }
  }

  @media screen and (max-width: 660px){
    .header__title {
        font-size: 30px;
        top: 20px;
        left: 60px;
    }
  }

  @media screen and (max-width: 600px){
    .header__title {
        font-size: 27px;
        top: 15px;
        left: 45px;
    }
  }